*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 145, 38);
    /* margin-top: 10%; */
}
#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    background-color: rgb(27, 44, 121);
    position: relative;
    box-shadow: 30px 20px 50px rgb(91, 18, 40);
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#container i{
    color: #ff8b8b;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.7;
    transition: transform ease 0.5s;
}